#row1 {
  background-image: url("../images/backgrounds/landing.jpg");
  color:white;
  font-size: 32px;

}
#row2 {

}
#row3 {

}
#row4 {

}
#row5 {

}
#row6 {

}
#row7 {

}
.row8 {
  background-color: #F15A29;
  background-size:300px 100px;


}
