body {
  font-family: 'Kameron';font-size: 22px;
}
#row1 {
  background-image: url("../images/backgrounds/landing.jpg");
  color:white;
  font-size: 32px;

}
#open-menu, #close-menu {
  position: absolute;
  font-size: 300%

}
#open-menu {
  left:5%;
}
#close-menu {
  left:80%;
  color: white;
}
aside {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  background-color: #F15A29;
  position: absolute;
  left: -100%;
}
#hamburger-menu {
  list-style: none;

}
#hamburger-menu a {
  color: white;
}
#hamburger-menu li {
  padding: 15%;
  font-size: 200%;
  text-transform: uppercase;
}

#row2 {



}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#row3 {

}
.pic {
  padding-right: 0;
  margin-left: 12%;
  margin-top: 10%;
  margin-bottom: 10%;
  box-shadow: 0 0 4px 4px #ccc;
  margin-right: 0;

}
.move {
  color:white;
  text-align: center;
  margin-top: 5%;
}
#row4 {

}
.center {
  margin:0 auto;
  width: 100px;
}
#foods {
  background-image: url("../images/backgrounds/foodsBg.jpg");
  height: 70vh;
  width: 100%;
  margin-bottom: 40px;
}
#foods .tab{
 position: relative;
 border: 1px;
 border-color: inherit;
}
.tabcontent {
  background-color: white;
  width:80%;
  margin-right: 100px;
}
#move{
  margin-left: 20%;
}
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 80%;
}
.tab button {
text-align: center;
background-color: inherit;
    width:70%
    float: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: white;
    color: #F15A29;
}



#row5 {

}
#row6 {

}
#row7 {

}


.feedback-row {
  width: 74%;
  margin-left: 13%;
  margin-top: 10%;
  margin-bottom: 10%;
  box-shadow: 0 0 4px 4px #ccc;
}
#column1 {
  margin: 0;
  width: 53%;
  margin-top: 2%;
  margin-right: 0;
  text-align: center;
  margin-left: 3%;
  padding-left: 3%;
  padding-right: 1%
}
#column2 {
  border-left: 2px solid #ccc;
  margin-left: 1%;
  text-align: center;
  padding-left: 3%;
  padding-right: 1;
  width: 37%;
  margin-top: 2%;
  margin-right: 1%;
  margin-bottom: 3%;

}
.customer-color {
  color:  #F15A29;
}
#customer-faces {
  margin-right: 1%;
  margin-left: 1%;
}
.icon-color {
  color: #F15A29;
  vertical-align: middle;
}
.row8 {
  background-color: #F15A29;
  height: 50vh;


}
.bg{
  background-image: url(../images/backgrounds/foodsBg.jpg);
}

.img-wrapper {
  background-image: url(../images/backgrounds/subscribe.jpg);
  height: 40vh;
  background-size: 100% 100%;

 }
.subscribe {
  text-align: center;
  margin-top: 5%;
  color: white;
}
.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
#input-email {
  opacity: 0.3;
  width: 120%;

}
#subscribe-btn {
  background-color: #F15A29;
  width: 12%;
  margin-left: 6%;
}
.img-overlay:before {
  content: ' ';
  display: block;
  /* adjust 'height' to position overlay content vertically */
  height: 50%;
}
#footer-menu {
  vertical-align: middle;
  font-size: 40px;
}
.footerlogos {
  margin-top: 2%;
  margin-bottom:5%;
}
#pinterest {
  margin-left: 2%;
  margin-right: 2%;

}
